/* URL Google Fonts here
========================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&family=Markazi+Text:wght@400;500;600;700&display=swap");

/* variables here
========================================================================= */
:root {
  --primary-color-one: hsl(160, 13%, 33%);
  --primary-color-two: hsl(50, 91%, 52%);
  --secondary-color-one: hsl(19, 78%, 69%);
  --secondary-color-two: hsl(20, 100%, 1%);
  --highlight-color-one: hsl(150, 6%, 93%);
  --highlight-color-two: hsl(0, 0%, 20%);
  --hover-button: hsl(50deg 91% 52% / 70%);
}

/* General Sitings
========================================================================= */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-family: "Markazi Text", serif;
}

@media (max-width: 395px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

@media (max-width: 570px) {
  h1 {
    font-size: 2.4rem;
  }
}

a,
h1,
h2 {
  color: var(--highlight-color-two);
  text-transform: capitalize;
}

a,
button {
  cursor: pointer;
}

input,
button {
  outline: none;
  border: none;
  background: none;
}

label,
input {
  display: block;
}

span {
  display: block;
}

p {
  margin: 0.625em 0;
  font-family: "Karla", sans-serif;
}

.link,
.button {
  font-family: "Markazi Text", serif;
  display: inline-block;
  font-size: 1.4em;
  padding: 0.4rem 1.1rem;
  border-radius: 15px;
  background-color: var(--primary-color-two);
  color: var(--highlight-color-two);
}

.link:hover,
.button:hover {
  background-color: var(--hover-button);
  transition: 0.3s ease;
}

.button--alt {
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid var(--highlight-color-two);
}

.button--alt:hover,
.button--alt:active {
  border: 1px solid transparent;
}

.loading {
  color: var(--primary-color-one);
  text-align: center;
  font-weight: bold;
  animation: flash 1.5s ease-in-out infinite alternate;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

/* General Countainer Sitings
========================================================================= */
/* .container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 1rem 8rem;
}

@media (max-width: 990px) {
  .container {
    padding: 0.7rem 2.5rem;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0.7rem 1.1rem;
  }
} */

/* General Flex Sitings
========================================================================= */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.5em;
  row-gap: 1.5em;
}

/* General Grid Sitings
========================================================================= */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1.4rem;
  margin-bottom: 1.5rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}
html, body {
 min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-content {
  flex: 1;
}
